{% extends "journal/base.html" %}
{% load static %}
{% block content %}

<div id="container" style="width: 75%;">
    <canvas id="population-chart" data-url="{% url 'journal:population-chart' %}"></canvas>
</div>

<script src="{% static 'chart/Chart.min.js' %}"></script>

<script>
    $(function () {

        var $populationChart = $("#population-chart");
        $.ajax({
            url: $populationChart.data("url"),
            success: function (data) {

                var ctx = $populationChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: '좋아요',
                            backgroundColor: 'blue',
                            data: data.data
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: '좋아요 랭킹페이지'
                        }
                    }
                });

            }
        });

    });
</script>

{% endblock %}