{% extends "journal/base.html"%} 
{% load bootstrap4 %}
{% block content %}

<h2>Post Form</h2>

{% bootstrap_form form %}

<button class="btn btn-primary" onclick="review_edit()">댓글쓰기</button>



<script>
function review_edit() {            
    const message = $("textarea[name=message]").val();
    $.ajax({
        url: "{%url 'journal:review_edit' review.post.pk review.pk%}", // data를 전송할 url 입니다.
        type: 'POST',
        data: {
            'message': message
        },
        dataType: "json",
        success: function (response) { // ajax 통신이 정상적으로 완료되었을 때
            window.location.href = "{%url 'journal:detail' review.post.pk%}"
        }
    })
}
</script>
{% endblock %}
